
    <%= form_with(model: holiday, local: true) do |form| %>
      <%= render 'shared/error', object: holiday %>
      <div class="field">
        <label class="label"><%= form.label :name %></label>
        <div class="control">
          <% if holiday.errors[:name].any? %>
            <%= form.text_field :name, class: 'input is-danger'%>
            <p class="help is-danger">
              <%= holiday.errors[:name].join('; ').capitalize %>
            </p>
          <% else %>
            <%= form.text_field :name, class: "input", placeholder: "e.g New Year" %>
          <% end %>
        </div>
      </div>
      <div class="field">
        <label class="label"><%= form.label :date %></label>
        <% if holiday.errors[:date].any? %>
          <%= form.date_field :date, class: "input is-danger" %>
          <p class="help is-danger">
            <%= holiday.errors[:date].join('; ').capitalize %>
          </p>
        <% else %>
          <%= form.date_field :date, class: "input"%>
        <%end%>
      </div>
      <div class="control">
        <%= form.submit class: 'button is-success is-normal' %>
      </div>
    <% end %>

