<%= form_with(model: [@company, employee], local: true) do |form| %>
  <%= render 'shared/error', object: employee %>
  <div class="field">
    <%= form.label :position %>
    <%= form.text_field :position, id: :employee_position %>
  </div>

  <div class="field">
    <%= form.label :start_day %>
    <%= form.text_field :start_day, id: :employee_start_day %>
  </div>

  <% if !employee.id %>
    <div class="field">
      <%= form.label :email %>
      <%= form.text_field :email, id: :email %>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :role %>
    <%= form.text_field :role, id: :role %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
