<%= form_with(model: [@company, employee], local: true) do |form| %>
  <%= render 'shared/error', object: employee %>
  <div class="field">
    <%= form.label :position, class: 'label' %>
    <%= form.text_field :position, id: :employee_position, class: 'input' %>
  </div>
  <div class="field">
    <%= form.label :start_day, class: 'label' %>
    <%= form.date_field :start_day, value: Date.today, id: :employee_start_day, class: 'input' %>
  </div>
  <% if !employee.id %>
    <div class="field">
      <%= form.label :email, class: 'label' %>
      <%= form.text_field :email, id: :email, class: 'input' %>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :role, class: 'label' %>
    <div class="select">
      <%= form.select :role, options_for_select(['owner', 'employee']) %>
    </div>
  </div>
  <div class="actions">
    <%= form.submit class: "button is-medium is-success" %>
  </div>
<% end %>
