<p id="notice"><%= notice %></p>

<h1>Employees</h1>

<table style="background-color:whitesmoke !important;" class="table">
  <thead>
    <th> Название компании </th>
    <th> Дата создания </th>
    <th> Кол-во сотрудников </th>
  </thead>
  <% @company.employees.each do |employee| %>
  <tbody>   
  <td><%= link_to employee.position, company_employee_path(id: employee.id) %></td>
  <td> <%= employee.position %></td>
  <td> <%= employee.is_enabled %></td>
    <% end %>
  </tbody>  
 </table>

  <tbody>
    <% @company.employees.each do |employee| %>
      <tr>
        <td><%= link_to 'Show', company_employee_path(id: employee.id) %></td>
        <td><%= link_to 'Edit', edit_company_employee_path(id: employee.id) %></td>
        <td><%= link_to 'Destroy', company_employee_path(id: employee.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee', new_company_employee_path %>
