<h1>Employees</h1>

<table style="background-color:whitesmoke !important;" class="table">
  <thead>
    <th> Position </th>
    <th> Start day </th>
    <th> Active </th>
    <th> Actions </th>
  </thead>
  <% @company.employees.each do |employee| %>
    <tbody>
      <td><%= link_to employee.position, company_employee_path(id: employee.id) %></td>
      <td><%= employee.start_day %></td>
      <td><%= employee.is_enabled %></td>
      <td><%= link_to 'Show', company_employee_path(id: employee.id), class: :"button is-small is-info"  %></td>
      <td><%= link_to 'Edit', edit_company_employee_path(id: employee.id), class: :"button is-small is-info"  %></td>
      <td><%= link_to 'Destroy', company_employee_path(id: employee.id),class: :"button is-small is-danger" , method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tbody> 
  <% end %>
</table>

<br />

<%= link_to 'New Employee', new_company_employee_path,  class: :"button is-small is-success" %>
