<h1>New Employee</h1>

<%= form_with url: company_employees_path, method: 'post', local: true do |form| %>

  <div class="field">
    <%= form.label :position %>
    <%= form.text_field :position, id: :employee_position %>
  </div>

  <div class="field">
    <%= form.label :start_day %>
    <%= form.text_field :start_day, id: :employee_start_day %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :email %>
  </div>
 
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Back', company_employees_path %>
