<h3 class="title">Employees</h3>
<table class="table">
  <thead>
    <th> Employee name </th>
    <th> Surname </th>
    <th> Position </th>
    <th> Start date </th>
    <th> Email </th>
    <th> Created at </th>
    <th> Activated </th>
    <th colspan="3"> Actions </th>
  </thead>
  <tbody>
    <tr>
      <td><%= link_to @employee.account.name, account_path(@employee.account.id) %></td>
      <td><%= @employee.account.surname %></td>
      <td><%= @employee.position %></td>
      <td><%= @employee.start_day %></td>
      <td><%= @employee.account.email %></td>
      <td><%= @employee.created_at %></td>
      <td><%= @employee.is_enabled %></td>
      <% if can?(:edit, @employee) %>
        <td><%= link_to 'Edit', edit_employee_path(id: @employee.id), class: "button is-small is-info" %></td>
      <% end %>
      <% if can?(:destroy, @employee) %>
        <td><%= link_to 'Destroy', employee_path(id: @employee.id), method: :delete, class: "button is-small is-danger" %></td>
      <% end %>
    </tr>
  </tbody>
</table>
<br>
<%= render 'events/index_filter', path: [@employee], employees: @events_presenter.employees %>
<%= render 'events/list', events: @events_presenter.events %>
<%= link_to 'Back', company_path(@company), class: "button is-medium" %>
