<div id="leftmenu" class="column is-2 has-background-white">
  <aside class="menu">
    <% if current_account.avatar.attached? %>
      <a href="/">
        <image id="avatar" src="<%=(url_for(current_account.avatar))%>">
      </a>
    <% end %>
    <% if @company&.persisted? %>
      <p class="menu-label">Company</p>
      <ul class="menu-list">
        <li><%= active_link_to 'Calendar', calendar_path, active: :exclusive %></li>
        <li><%= active_link_to 'Create New Event', new_event_path(event: { employee_id: @account_employee.id }), active: :exclusive %></li>
        <li><%= active_link_to 'Company info', company_path(@company), active: :exclusive %></li>
      </ul>
    <% end %>
    <p class="menu-label">Account</p>
    <ul class="menu-list">
      <li><%= link_to current_account.email, account_path(current_account) %></li>
      <li><%= link_to 'Sign out', destroy_account_session_path, method: :delete %></li>
    </ul>
  </aside>
</div>
