<div class="columns is-centered">
  <div class="column is-narrow">
    <%= form_for(@account, url: account_registration_path) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <h3 class="title">Sign up</h3>
      <div class="field">
        <p class="control">
        <%= f.label :name, class: 'label' %>
        <%= f.text_field :name, autofocus: true, autocomplete: "surname", class: :input, placeholder: :"Enter your name" %>
        </p>
      </div>
      <div class="field">
        <p class="control">
        <%= f.label :surname, class: 'label' %>
        <%= f.text_field :surname, autofocus: true, autocomplete: "surname", class: :input, placeholder: :"Enter your surname" %>
        </p>
      </div>
      <div class="field">
        <p class="control">
        <%= f.label :email, class: 'label' %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: :input, placeholder: :"Enter your e-mail" %>
        </p>
      </div>
      <div class="field">
        <%= f.label :password, class: 'label' %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <br>
        <%= f.password_field :password, autocomplete: "new-password", class: 'input', placeholder: "Enter your password" %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation, class: 'label' %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'input', placeholder: "Repeat your password" %>
      </div>
      <div class="actions">
        <%= f.submit "Sign up", class: "button is-medium is-success"%>
      </div>
      <br>
      <p>If you already have an account –&nbsp;
        <a class="link is-small is-info" href='<%= new_account_session_path %>'>Login</a>
      </p>
    <% end %>
  </div>
</div>
