<tr>
  <td><%= event.account.name %></td>
  <td><%= event.reason %></td>
  <td><%= event.start_period.strftime('%c') %></td>
  <td><%= event.end_period.strftime('%c') %></td>
  <td><%= event.rule.name %></td>
  <td><%= link_to 'Edit', edit_event_path(id: event.id ), class: :"button is-small is-info" %></td>
  <td><%= link_to 'Destroy', event_path(id: event.id ), method: :delete, data: { confirm: 'Are you sure?' }, class: :"button is-small is-danger" %></td>
</tr>
