<%= form_with model: @event, local: true do |form| %>
  <div id="newevent" class="columns">
    <div class="column">
      <div class="field">
        <%= form.label :start_day, class: 'label' %>
        <%= form.date_field :start_day, class: :input, value: params[:start_period] || @event.start_period.to_date %>
      </div>
      <div class="select period">
        <%= form.select :first_period, options_for_select(['Morning', 'Afternoon'], (@event.start_period&.hour == Event::HALF_DAY) ? 'Afternoon' : 'Morning'), class: :input %>
      </div>
    </div>
    <div class="column">
      <div class="field">
        <%= form.label :end_day, class: 'label' %>
        <%= form.date_field :end_day, class: :input, value: params[:start_period] || @event.end_period.to_date %>
      </div>
      <div class="select period">
        <%= form.select :second_period, options_for_select(['Afternoon', 'End of day'], (@event.end_period&.hour == Event::HALF_DAY) ? 'Afternoon' : 'End of day'), class: :input %>
      </div>
    </div>
  </div>
  <label class="label">Rule</label>
  <% @rules.each do |rule| %>
    <div>
      <label>
        <%= form.radio_button :rule_id, rule.id %>
        <%= "#{rule.name} (days left: #{Events::RemainingDaysService.new.call(@event.employee, rule)} / #{rule.period})" %>
      </label>
    </div>
  <% end %>
  <div class="field reason">
    <%= form.label :reason, class: 'label' %>
    <%= form.text_field :reason, class: :input %>
  </div>
  <div class="field employee">
    <%= form.hidden_field :employee_id %>
  </div>
  <div class="buttons">
    <%= form.submit(@event.new_record? ? 'New' : 'Edit', class: 'button is-small is-success') %>
  </div>
<% end %>
