<div class="columns is-desktop">
  <div class="column is-narrow">
    <%= form_with(url: path, local: true, method: :get) do %>
      <div id="period">
        <div class="field">
          <%= label_tag :employee_id %>
          <%= select_tag :employee, options_from_collection_for_select(@company.employees, :id, :position) %>
        </div>

        <div class="field">
          <%= label_tag :start_period %>
          <%= date_field_tag :start_period, class: :input %>
        </div>

        <div class="field">
          <%= label_tag :end_period %>
          <%= date_field_tag :end_period, class: :input %>
        </div>

        <div class="actions">
          <%= submit_tag 'Set period', class: "button is-small is-warning" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
