<table class="table">
  <thead>
    <th> Created by </th>
    <th> Reason </th>
    <th> Start Period </th>
    <th> End period </th>
    <th> Rule </th>
    <th> Status </th>
    <th> Days left </th>
    <th colspan="2"> Actions </th>
  </thead>
  <tbody>
    <% events.each do |event| %>
      <tr>
        <td><%= event.account.name %></td>
        <td><%= event.reason %></td>
        <td><%= event.start_period.strftime('%c') %></td>
        <td><%= event.end_period.strftime('%c') %></td>
        <td><%= event.rule.name %></td>
        <td><p><%= event.state %></p></td>
        <td><%= Events::RemainingDaysService.new.call(event.employee, event.rule) %></td>
        <td>
          <div class="buttons">
            <% if can?(:accept, event) %>
              <%= button_to 'Accept', event_accept_path(event_id: event.id), method: :patch, class: "button is-small is-success" %>
            <% end %>
            <% if can?(:decline, event) %>
              <%= button_to 'Decline', event_decline_path(event_id: event.id), method: :patch, class: "button is-small is-danger" %>
            <% end %>
            <% if can?(:edit, event) %>
              <%= button_to 'Edit', edit_event_path(id: event.id), method: :get, class: "button is-small is-primary" %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
