<h1>Editing Event</h1>

<%= form_with url: company_event_path, method: 'patch', local: true do |form| %>

  <div class="field">
    <%= form.label :start_period %>
    <%= form.date_field :start_period, value: @event.start_period.strftime('%Y-%m-%d') %>
  </div>

  <div class="field">
    <%= form.label :end_period %>
    <%= form.date_field :end_period, value: @event.end_period.strftime('%Y-%m-%d')  %>
  </div>

  <div class="field">
    <%= form.label :reason %>
    <%= form.text_field :reason, value: @event.reason %>
  </div>

  <div class="actions">
    <%= form.button :submit %>
  </div>
<% end %>

<%= link_to 'Show', company_event_path(@event) %> |
<%= link_to 'Back', company_events_path %>
