<h1>Company Events</h1>

<table class="table">
  <thead>
    <th> Created by </th>
    <th> Reason </th>
    <th> Start Period </th>
    <th> End period </th>
    <th> Rule </th>
    <th> Status </th>
    <th colspan="2">Actions</th>
  </thead>
  <tbody>
      <% @events.each do |event| %>
        <tr>
          <td><%= event.account.name %></td>
          <td><%= event.reason %></td>
          <td><%= event.start_period.strftime('%c') %></td>
          <td><%= event.end_period.strftime('%c') %></td>
          <td><%= event.rule.name %></td>
          <td><p><%= event.state %></p></td>
          <td>
            <% if can?(:accept, event) %>
              <div class="buttons">
                <%= button_to 'Accept', company_event_accept_path(event_id: event.id, company_id: event.company_id ), method: :patch, class: "button is-small is-success" %>
                <%= button_to 'Decline', company_event_decline_path(event_id: event.id, company_id: event.company_id ), method: :patch, class: "button is-small is-danger" %>
              </div>
            <% end %>
          </td>
        </tr>
      <% end %>
  </tbody>
</table>
<br>
<%= link_to 'Back to calendar', company_calendar_path, class: :"button is-small is-info" %>
