<div class="columns is-desktop is-multiline is-vcentered">
  <div class="column is-narrow">
    <h3 class="title">New Event</h3>
    <%= form_with model: @event, url: events_path, method: 'post', local: true do |form| %>
      <div id="newevent" class="columns">
        <div class="column">
          <div class="field">
            <%= form.label :start_day, class: 'label' %>
            <%= form.date_field :start_day, class: :input, value: params[:start_period] %>
          </div>
          <div class="select period">
            <%= form.select :first_period,options_for_select(['Morning', 'Afternoon']), class: :input %>
          </div>
        </div>
        <div class="column">
          <div class="field">
            <%= form.label :end_day, class: 'label' %>
            <%= form.date_field :end_day, class: :input, value: params[:start_period] %>
          </div>
          <div class="select period">
            <%= form.select :second_period,options_for_select(['Afternoon', 'End of day']), class: :input %>
          </div>
        </div>
      </div>
      <label class="label">Rule</label>
      <% @rules.each do |rule| %>
        <div>
          <label>
            <%= form.radio_button :rule_id, rule.id %>
            <%= "#{rule.name} (days left: #{Events::RemainingDaysService.new.call(@employee, rule)})" %>
          </label>
        </div>
      <% end %>
      <div class="field reason">
        <%= form.label :reason, class: 'label' %>
        <%= form.text_field :reason, class: :input %>
      </div>
      <div class="buttons">
        <%= form.button type: :submit, name: :company_id, value: params[:company_id], class: "button is-normal is-success" %>
      </div>
    <% end %>
  </div>
</div>
