<h1>New Event</h1>

<%= form_with url: company_events_path, method: 'post', local: true do |form| %>

  <div class="field">
    <%= form.label :start_period %>
    <%= form.date_field :start_period, value: params[:start_period] %>
  </div>

  <div class="field">
    <%= form.label :end_period %>
    <%= form.date_field :end_period %>
  </div>

  <div class="field">
    <%= form.collection_select :rule_id, @rules, :id, :name, include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :reason %>
    <%= form.text_field :reason %>
  </div>

  <div class="actions">
    <%= form.button :submit, name: :company_id, value: params[:company_id] %>
  </div>
<% end %>

<%= link_to 'Back', company_events_path %>
