<table style="background-color:whitesmoke;margin-top:50px" class="table">
  <thead>
    <th style='padding-bottom:0.5em;font-size:12px'>Employee</th>
      <% @calendar.days.each do |day| %>
        <th style="padding-bottom:0.5em;font-size:12px"><%= day.strftime('%a')[0..1] %></th>
      <% end %>
  </thead>
  <% @calendar.employees.each do |employee| %>
    <tbody>
      <td style='padding-bottom:0.5em;'>
        <%= employee.account.name %>
        <p style="font-size:8px"><%= employee.position %></p>
      </td>
      <% @calendar.working_month.each do |day, value| %>
        <% if @calendar.working_month[day].eql?('work') %>
          <td style='padding-bottom:0.5em;font-size:14px'>
        <% else %>
          <td style='padding-bottom:0.5em;background-color:lightgray;font-size:14px'>
        <% end %>
        <%= day.strftime('%d') %>
        </td>
      <% end %>
    </tbody>
  <% end %>
</table>

<a style="padding-right:10px"><a class="button is-small is-success" href='<%= new_company_employee_path %>'>New employee</a>

