<h1>Company Events Calendar</h1>
<h4 class="title is-4">
  <%= link_to calendar_path(start_period: @calendar.days.first - 1.month) do %>
    <ion-icon name="arrow-dropleft"></ion-icon>
  <%- end %>
  <%= @calendar.days.first.strftime('%d %B') %> &mdash; <%= @calendar.days.last.strftime('%d %B') %>
  <%= link_to calendar_path(start_period: @calendar.days.first + 1.month) do %>
    <ion-icon name="arrow-dropright"></ion-icon>
  <%- end %>
</h4>

<table id="calendar" class="table">
  <thead>
    <th></th>
    <th>Employee</th>
      <% @calendar.days.each do |day| %>
        <th><%= day.strftime('%a')[0..1] %></th>
      <% end %>
  </thead>
  <tbody>
  <% @calendar.employees.each do |employee| %>
    <tr>
      <td>
        <% if can?(:access_to_event, employee) %>
          <%= link_to new_event_path(event: { employee_id: employee.id }, start_period: Date.today) do %>
            <ion-icon name="add-circle-outline" class="icon is-medium has-text-success"></ion-icon>
          <%- end %>
        <%- end %>
      </td>
      <td id="calendar" style='padding-bottom:0.5em;'>
        <%= link_to employee.account.name, employee_path(id: employee.id) %>
        <p style="font-size:8px"><%= employee.position %></p>
      </td>
        <% @calendar.days_status(employee).each do |day, value| %>
          <% case value[:state] %>
            <% when 'work' %>
              <td class="work">
                <% if can?(:access_to_event, employee) %>
                  <%= link_to day.strftime('%d'), new_event_path(start_period: day.to_s(:db), event: { employee_id: employee.id }) %>
                <% else %>
                  <p><%= day.strftime('%d') %></p>
                <% end %>
              </td>
            <% when 'holiday' %>
              <td class="holiday">
                <% if can?(:access_to_event, employee) %>
                  <%= link_to day.strftime('%d'), new_event_path(start_period: day.to_s(:db), event: { employee_id: employee.id })%>
                <% else %>
                  <p><%= day.strftime('%d') %></p>
                <% end %>
              </td>
            <% when 'fullday_event' %>
              <td class="fulldayevent">
                <% if can?(:access_to_event, employee) %>
                  <%= link_to day.strftime('%d'), employee_events_path(employee_id: employee, day: day ), title: value[:title] %>
                <% else %>
                  <p><%= day.strftime('%d') %></p>
                <% end %>
              </td>
            <% when 'first_half_of_day' %>
              <td class="firsthalf">
                <% if can?(:access_to_event, employee) %>
                  <%= link_to day.strftime('%d'), employee_events_path(employee_id: employee, day: day ), title: value[:title] %>
                <% else %>
                  <p><%= day.strftime('%d') %></p>
                <% end %>
              </td>
            <% when 'second_half_of_day' %>
              <td class="secondhalf">
                <% if can?(:access_to_event, employee) %>
                  <%= link_to day.strftime('%d'), employee_events_path(employee_id: employee, day: day ), title: value[:title] %>
                <% else %>
                  <p><%= day.strftime('%d') %></p>
                <% end %>
              </td>
            <% when 'state_holiday' %>
              <td class="stateholiday">
                <%= link_to day.strftime('%d'), holidays_path %>
              </td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
