<table style="background-color:whitesmoke" class="table">
  <thead>
    <th> Created by </th>
    <th> Reason </th>
    <th> Start Period </th>
    <th> End period </th>
    <th> Rule </th>
    <th colspan="2"> Actions </th>
  </thead>
  <tbody>
    <% @employee_events.each do |day, events| %>
      <% if day.eql?(@day.to_date) %>
        <% events.each do |event| %>
          <tr>
            <td><%= event.account.name %></td>
            <td><%= event.reason %></td>
            <td><%= event.start_period.strftime('%c') %></td>
            <td><%= event.end_period.strftime('%c') %></td>
            <td><%= event.rule.name %></td>
            <td><%= link_to 'Accept', edit_company_event_path(id: event.id, company_id: event.company_id ), class: :"button is-small is-success" %></td>
            <td><%= button_to 'Decline', company_event_path(id: event.id, company_id: event.company_id ), method: :delete, data: { confirm: 'Are you sure?' }, class: :"button is-small is-danger" %></td>
          </tr>
        <% end %>
      <% end %>
    <%end%>
  </tbody>
</table>
<br>
<%= link_to 'Back to calendar', company_calendar_path, class: :"button is-small is-info" %>