<table style="background-color:whitesmoke" class="table">
  <thead>
    <th> Company name </th>
    <th> Created at </th>
    <th> Quantity of staff </th>
    <th colspan="3"> Actions </th>
  </thead>
  <% @companies.each do |company| %>
    <tbody>
      <td><%= link_to company.name, company_calendar_url(company) %></td>
      <td><%= company.created_at %></td>
      <td><%= link_to company.employees.size, company_path(company) %></td>
      <td><%= link_to 'Show', company_calendar_url(company), class: :"button is-small is-info" %></td>
      <td><%= link_to 'Edit', edit_company_path(company), class: :"button is-small is-info" %></td>
      <td><%= button_to 'Destroy', company_path(company), method: :delete, data: { confirm: 'Are you sure?' }, class: :"button is-small is-danger" %></td>
    </tbody>
  <% end %>
</table>
<br>
<%= link_to 'New Company', new_company_path, class: :"button is-small is-success" %>

