<%= render 'companies/header' %>

<h3 class="title">Invites</h3>
<table class="table">
  <thead>
    <th> E-mail </th>
    <th> Position </th>
    <th> Start day </th>
    <th> Activated </th>
    <th colspan="3"> Actions </th>
  </thead>
  <% @company.employees.where(account_id: nil).eager_load(:account).each do |employee| %>
    <tbody>
      <tr>
        <td><%= link_to employee.email, employee_path(id: employee.id) %></td>
        <td><%= employee.position %></td>
        <td><%= employee.start_day %></td>
        <td><%= employee.is_enabled %></td>
        <td><%= link_to 'Show', employee_path(id: employee.id), class: :"button is-small is-info" %></td>
        <td><%= link_to 'Edit', edit_employee_path(id: employee.id), class: :"button is-small is-info" %></td>
        <td><%= link_to 'Destroy', employee_path(id: employee.id), method: :delete, data: { confirm: 'Are you sure?' }, class: :"button is-small is-danger" %></td>
      </tr>
    </tbody>
  <% end %>
</table>
<br>

<div>
  <a style="padding-right:10px"><a class="button is-small is-success" href='<%= new_employee_path %>'>New invite</a>
</div>
