<div class="columns is-desktop is-multiline is-centered is-vcentered">
  <div class="column is-narrow">
		<h1">New company</h1>
		<%= form_with model: @company, method: 'post', local: true do |form| %>
  		<div class="field">
      	<%= form.label :company_name, class: 'label' %>
      	<%= form.text_field :name, class: :input, placeholder: "Enter company name" %>
    	</div>
   	  <div class="actions">
        <%= form.submit class: "button is-medium is-success is-fullwidth" %>
      </div>
 		<% end %>
    <br>
 		<%= link_to 'Back', companies_path, class: "button is-medium"%>
	</div>
</div>
