<div class="columns is-desktop is-multiline is-centered is-vcentered">
  <div class="column is-narrow">
		<h1 style="margin-bottom:30px;">New company</h1>

		<%= form_with model: @company, method: 'post', local: true do |form| %>

  		<div class="field">
      	<%= form.label :company_name %>
      	<%= form.text_field :name, class: :input, placeholder: :"Enter company name" %>
    	</div>  

   	  <div class="actions">
        <%= form.submit %>
      </div>

 		<% end %>

 		<%= link_to 'Back', companies_path, class: :"button is-small is-info", style: :'margin-top:10px' %>
	</div>
</div>



