<p>Created by: <%= @params[:created_by] %></p>
<p>Reason: <%= @params[:event].reason %></p>
<p>Start period: <%= @params[:event].start_period %></p>
<p>End period: <%= @params[:event].end_period %></p>
<p>Rule: <%= @params[:rule_name] %></p>
<p>Remaining days: <%= @params[:remaining_days] %></p>
<p><a href=<%= @params[:event_link] %> >Go to event</a></p>
