<%= render 'companies/header' %>

<h1>Working Days</h1>

<table class="table">
  <thead>
    <tr>
      <th>Day of week</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @working_days.each do |working_day| %>
      <tr>
        <td><%= working_day.display_day_of_week %></td>
        <td><%= link_to 'Edit', edit_working_day_path(id: working_day.id), class: :"button is-small is-info" %></td>
        <td><%= link_to 'Destroy', working_day_path(id: working_day.id), method: :delete, class: :"button is-small is-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Working Day', new_working_day_path,class: :"button is-small is-success" %>
