<%= render 'companies/header' %>

<h1>Working Day</h1>

<p>
  <strong>Company:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Day of week:</strong>
  <%= @working_day.display_day_of_week %>
</p>

<%= link_to 'Edit', edit_working_day_path(id: @working_day.id) %> |
<%= link_to 'Back', working_days_path %>
