<%= form_with(model: [@company, rule], local: true) do |form| %>
  <%= render 'shared/error', object: rule %>
  <div class="field">
    <%= form.label :name, class: 'label' %>
    <%= form.text_field :name, class: 'input' %>
  </div>
  <div class="field">
    <%= form.label :company_id, class: 'label' %>
    <div class="select">
      <%= form.collection_select :company_id, @companies, :id, :name %>
    </div>
  </div>
  <div class="field">
    <%= form.label :allowance_days, class: 'label' %>
    <%= form.number_field :allowance_days, class: 'input' %>
  </div>
  <div class="field">
    <%= form.label :period, class: 'label' %>
    <div class="select">
      <%= select(:rule, :period, Rule::PERIOD_LIST) %>
    </div>
  </div>
  <div class="field">
    <%= form.label :is_enabled, class: 'checkbox' %>
    <%= form.check_box :is_enabled %>
  </div>
  <div class="field">
    <%= form.label :is_holiday, class: 'checkbox' %>
    <%= form.check_box :is_holiday %>
  </div>
  <div class="field">
    <%= form.label :auto_confirm, class: 'checkbox' %>
    <%= form.check_box :auto_confirm %>
  </div>
  <div class="actions">
    <%= form.submit 'Submit', class: 'button is-medium is-success' %>
  </div>
<% end %>
