<%= form_with(model: rule, local: true) do |form| %>
  <%= render 'shared/error', object: rule %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :company_id %>
    <%= form.collection_select :company_id, @companies.order(:name),:id,:name%>
  </div>

  <div class="field">
    <%= form.label :allowance_days %>
    <%= form.number_field :allowance_days %>
  </div>

  <div class="field">
    <%= form.label :period %>
    <%= select(:rule, :period, Rule::PERIOD_LIST) %>
  </div>

  <div class="field">
    <%= form.label :is_enabled %>
    <%= form.check_box :is_enabled %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
