<p id="notice"><%= notice %></p>

<h1>Rules</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Company</th>
      <th>Allowance days</th>
      <th>Period</th>
      <th>Is enabled</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rules.each do |rule| %>
      <tr>
        <td><%= rule.name %></td>
        <td><%= rule.company_id %></td>
        <td><%= rule.allowance_days %></td>
        <td><%= rule.period %></td>
        <td><%= rule.is_enabled %></td>
        <td><%= link_to 'Show', rule %></td>
        <td><%= link_to 'Edit', edit_rule_path(rule) %></td>
        <td><%= button_to 'Destroy', rule, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rule', new_rule_path %>
