<!DOCTYPE html>
<html>
  <head>
    <title>StaffPlanner</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag "application" %>
    <%= stylesheet_pack_tag "stylesheets" %>
  </head>

  

  <body class="hero is-fullheight has-background-white-ter">
    <%= render "shared/header" %>

    <section class="section">
      <div class="container">
        <%= yield %>
      </div>
    </section>

    <%= render "shared/footer" %>
  </body>

  
</html>
