<!DOCTYPE html>
<html>
  <head>
    <title>StaffPlanner</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'default', media: 'all' %>
    <%= javascript_include_tag 'default' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
