 <div class="columns is-desktop is-multiline is-centered is-vcentered">
  <div class="column is-narrow">
    <%= form_with model: @account, local: true do |form| %>
    	<%= render "devise/shared/error_messages", resource: @account %>

    	<h1 style="padding-bottom:20px">Editing Account</h1>

      <div class="field">
        <%= form.label :name %>
      	<%= form.text_field :name, class: :input, placeholder: :"Edit your name" %>
      </div>

      <div class="field">
        <%= form.label :surname %>
        <%= form.text_field :surname, class: :input, placeholder: :"Edit your surname"  %>
      </div>

      <div class="actions">
        <%= form.submit %>
      </div>
    <% end %>
  </div>
</div>


<%= link_to 'Show', @account %> |
<%= link_to 'Back', accounts_path %>
