<h3 class="title">Your profile</h3>
<table class="table has-background-white-ter" />
  <thead>
    <th> Name </th>
    <th> Surname </th>
    <th> E-mail </th>
    <th> Company </th>
    <th colspan="3"> Actions </th>
  </thead>
  <tbody>
    <td><%= @account.name %></td>
    <td><%= @account.surname %></td>
    <td><%= @account.email %></td>
    <td>
      <% if @companies.present? %>
        <% @companies.each do |company| %>
          <p><%= link_to company.name, company_calendar_path(company), class: 'is-link' %></p>
        <% end %>
      <% else %>
        <p>You don't have companies</p>
      <% end %>
    </td>
    <td>
      <div class="buttons are-small">
        <a class="button is-info" href='<%= edit_account_path(@account) %>'>Edit account</a>
        <%= button_to 'Delete account', {controller: :accounts, action: :'destroy'}, class: "button is-danger", method: :delete %>
        <a class="button is-success" href='<%= new_company_path %>'>Create new company</a>
      </div>
  </tbody>
</table>
<h3 class="title">Your events</h3>
<table class="table has-background-white-ter">
  <thead>
    <th> Reason </th>
    <th> Start Period </th>
    <th> End period </th>
    <th> Rule </th>
    <th colspan="3"> Actions </th>
  </thead>
  <tbody>
    <%= render @account_events %>
  <tbody>
</table>
