<p> Name: <%= @account.name %> </p>
<p> Surname: <%= @account.surname %> </p>
<p> E-mail:<%= @account.email %> </p>
<p style="margin-top:20px"> Companies: </p>
  <% @companies.each do |key, value| %>
    <% if @companies.present? %>
      <p><%= link_to value, company_calendar_path(key) %></p>
    <% else %>
      <p>Нет привязанных компаний.</p>
    <% end %>
  <% end %>
<div style="margin-top:20px">
  <a class="button is-small is-success" href='<%= new_company_path %>'>Create new company</a>
  <a class="button is-small is-info" href='<%= edit_account_path(@account) %>'>Edit account</a>
</div>
